
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_SideView.cshtml";
}

<h2>About</h2>


<p>
	Madhapur
</p>

@section headSection{
	<style>
		h2 {
			background-color:blue;
			color:white;
			text-align:center
		
		}
	</style>
	<script>

		alert("About Projects")
	</script>
	}