
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_SideView.cshtml";
}

<h2>Contact</h2>
<p>
	Andhra Pradesh,India 
</p>
@section addSection{
<div align="center">
	<img src="~/Joining Documents/diyas.jpg" width="400" height="100"/>

</div>
	}
