
@{
	ViewBag.Title = "Home";
	Layout = "~/Views/Shared/_SideView.cshtml";
}

<h2>Home</h2>
<address>
	Dxc Technology
</address>

@section addSection{
	<div align="center">
		<img src="~/Joining Documents/diyas.jpg" width="400" height="100" />

	</div>
}

