@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
	The scope of this booking system is to provide an easy option for the customer who is willing to book ticket online for a movie.
	It saves their time and labor. This system can be accessed anywhere who has net connection at any time of day or night, thus providing customer’s comfort. 
	And also plays a major role in Promoting the multiplex and the movies.
	Keeping in view of customer’s benefit, the customer can book their ticket in advance i.e; 7 days before the actual releasing date of any movie. 
	Also a conformation booking page will be generated in this system.
</p>
