@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    DGS-Campus,Phase-1,HP-Avenue<br />
    Electronic City,Bangalore<br/>
	Karnataka 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Sachin@alchemy.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Manager@dxc.com</a>
</address>