@*@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@
@{ 
	ViewBag.Title = "Home Page";
}
@*<p>
	Welcome to Home Page of Online Movie Ticketing System.The scope of this booking system is to provide an easy option for the customer who is willing to book ticket online for a movie.
	It saves their time and labor. This system can be accessed anywhere who has net connection at any time of day or night, thus providing customer’s comfort.
	And also plays a major role in Promoting the multiplex and the movies.
	Keeping in view of customer’s benefit, the customer can book their ticket in advance i.e; 7 days before the actual releasing date of any movie.
	Also a conformation booking page will be generated in this system.
</p>*@

<div class="form-group">
	<hr/>
	@*<img src="https://th.bing.com/th/id/OIP.akcnmGnwgeRj__SwsejJ_wHaFj?pid=Api&rs=1.jpg" width="1200" height="500" class="mx-auto d-block" />*@
</div>