@{
	ViewBag.Title = "Menu";

}

<h2>Welcome Admin</h2>

<div style="text-align:center">

	<br />
	<a href="~/Theatres/Add_Theatre" class="btn btn-primary">Add Theatre</a><br /><br />
	<a href="~/Movies/Movie_ID" class="btn btn-primary">Add Movie</a><br /><br />
	<a href="~/Screens/Add_Screen" class="btn btn-primary">Add Scrren</a><br /><br />
	<a href="~/Shows/Add_Show" class="btn btn-primary">Add Show</a><br /><br />

</div>

