@{
	ViewBag.Title = "Menu";

}

<h2>Welcome Admin</h2>

<div style="text-align:center">

	<br />
	<button><a href="~/Controllers/TheatresController/Create" class="btn btn-primary">Add Theatre</a></button><br /><br />
	<button><a href="~/Controllers/MoviesController/Create" class="btn btn-primary">Add Movie</a></button><br /><br />
	<button><a href="~/Controllers/ScreensController/Create" class="btn btn-primary">Add Scrren</a></button><br /><br />
    <button><a href="~/Controllers/ShowsController/Create" class="btn btn-primary">Add Show</a></button><br/><br/>

</div>
